<ion-content [fullscreen]="true">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-toolbar no-border-top>
        <ion-segment (ionChange)="segmentChanged($event)">
            <ion-segment-button value="title">
                <ion-label>Title</ion-label>
            </ion-segment-button>
            <ion-segment-button value="description">
                <ion-label>Description</ion-label>
            </ion-segment-button>
            <ion-segment-button value="price">
                <ion-label>Price</ion-label>
            </ion-segment-button>

            <ion-segment-button value="email">
                <ion-label>E-Mail</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <ng-container *ngIf="itemsFacade.items$|async">
        <ion-card *ngFor="let item of paginatedItems | filter:searchText:keyword">
            <ion-card-content class="ion-align-items-center">
                <img [src]="getImgContent(item.image)" />
                <ion-card-title> {{item.title}} </ion-card-title>
                <p>{{item.description}}</p>

                <ion-row no-padding>
                    <ion-col size="8">
                        <ion-label color="secondary">
                            <b>{{item.price | currency:'€' }}</b>
                        </ion-label>
                    </ion-col>
                    <ion-col size="4" class="ion-text-right">
                        <button ion-button fill="clear">
                            <ion-icon name="add"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <ion-fab vertical="bottom" horizontal="center" slot="fixed">
            <ion-fab-button>Button</ion-fab-button>
        </ion-fab>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ng-container>
</ion-content>